__pycache__/CalculoDaDistancia.cpython-313.pyc
__pycache__/Cliente.cpython-313.pyc
__pycache__/Deposito.cpython-313.pyc
__pycache__/CalculaDeTempoDaRota.cpython-313.pyc
__pycache__/BancoDeDados.cpython-313.pyc
__pycache__/AtributosDoNavio.cpython-313.pyc
__pycache__/SimulacaoEDO.cpython-313.pyc
__pycache__/CampoDeForcas.cpython-313.pyc
__pycache__/Obstaculo.cpython-313.pyc
