__pycache__/CalculoDaDistancia.cpython-313.pyc
__pycache__/Cliente.cpython-313.pyc
__pycache__/Deposito.cpython-313.pyc
__pycache__/CalculaDeTenpoDaRota.cpython-313.pyc
__pycache__/BancoDeDados.cpython-313.pyc
__pycache__/AtributosDoNavio.cpython-313.pyc
__pycache__/SimulacaoEDO.cpython-313.pyc
